:root{
    --primary-color:#7C3AED;
    --dark-gray:#6B7280;
    --off-white:#F3F4F6;
}
body{
    font-family: 
    'Montserrat',
     sans-serif;
     display: block;
     margin:0px;
     text-align: center;
 
 
}
h1,h2{
    color:var(--primary-color);
}
input{
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 1rem;
    border-color:  var(--primary-color);
    text-align: center;
}
#show-btn{
    background-color: var(--primary-color);
    border-radius: 1rem;
    color: white;
    border-color: var(--primary-color);
    width: 10rem;
    height: 3rem;
    
}
@media(max-width:768px){
    html{
        font-size:45%;
    }
}
@media(max-width:998px){
    html{
        font-size: 55%;
    }
}